## --- Python Artifacts ---
./__pycache__/
#*.py[cod]
#*$py.class


.idea/

## --- Virtual Environments ---
## Common names for virtualenvs
#venv/
#.venv/
#env/
#.env/
#ENV/
#
#.pytest_cache/
#
## --- Jupyter Notebooks ---
#.ipynb_checkpoints

*.md
.output/